.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px 10%;
}
.message-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 30px;
}
.message {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.message img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: block;
  transform: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(233, 227, 227), rgb(118, 187, 127));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  transition: height 0.5s;
  text-align: center;
}
.layer h3 {
  margin-top: 20px;
  color: #57965f;
  font-size: 20px;
  margin-bottom: 5px;

}
.layer p {
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 2px 40px 0 40px;
}
.message:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
.message:hover .layer {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .song-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
